* { /*CSS RESET*/
    padding: 0;
    margin: 0;
    border: 0;
}

.container {
    border: 3px solid red;
    height: 1500px;
    position: relative;
}

.element {
    background-color: gray;
    padding: 10px;
}

.main-element {
    background-color: yellow;
    padding: 10px;
    /*position: static; /*Mi elemento NO se mueve*/
    position: relative; /*Me permite usar top, bottom, right y left, se va a mover en base a su posición original, SIN afectar el resto de los elementos*/
    /*position: absolute; /*Se va a mover basada en elemento padre e ignoramos por completo los elementos alrededor.*/
    /*position: fixed; /*No se ve afectado por el scroll e ignora los elementos alrededor*/
    /*position: sticky; /*Va a tener una posición original del elmento y al hacer scroll se pega en la pantalla*/
    top: 20px;
    left: 15px;
    z-index: 2; /*Entre más alto, más al frente se va a ver*/
}

.red {
    color: red;
    font-weight: bold;
}